<!-- Clisdermar Vivas -->
<!-- your html code here -->
<div class="container">
    <div class="row">
      <div class="clearfix">
        <img src="/website/assets/img/1.jpg" class="col-md-6 float-md-end mb-3 ms-md-3 rounded-circle" alt="Imag1" style="width: 300px; height: 100%;">
      
        <div class="d-inline-flex p-2">
          <h1>This First Heading</h1>
          <span class="mx-2"></span> <!-- Agrega un espacio horizontal -->
          <h1 class="text-black-50">Will Catch Your Eye</h1>
        </div>
      
        <p>
          As you can see the paragraphs gracefully wrap around the floated image. Now imagine how this would look with some actual content in here, rather than just this boring placeholder text that goes on and on.
        </p>
      </div>
    </div>
    <div class="border-bottom p-4"></div>
  </div>